@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");


html{
  font-family:"Montserrat", serif ;
  line-height: 1.5;
  font-weight: 400;
  font-size: 10px;
}

body {
  transition: 0.2s all ease-in-out;
}

header .ahsenLogo {
  background-image: url("/AhsenLogo.svg");
  width: 14.7rem;
  height: 14.5rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}



.link{
  color: white;
  font-size: 1.8rem;
  text-decoration: none;
  font-weight: 500;
  margin-left: 4rem;
  background-color: transparent ;
  border: transparent solid 0.1rem;
  padding: 0.7rem 2rem;
  border-radius: 3rem;
  transition: 0.2s all ease-in-out;
}

.link:hover{
  background-color: transparent;
  border: #ffffff70 0.1rem solid;
  color: #ffffff70;
}

.dahafazla{
  display: flex;
  justify-content: center;
  margin-top: auto;
  margin-bottom: auto;
}

.iletisimLink{
  display: inline-block;
  justify-content: center;
  color: white;
  font-size: 1.8rem;
  text-decoration: none;
  font-weight: 500;
  background-color: transparent ;
  border: transparent solid 0.1rem;
  padding: 0.7rem 2rem;
  border-radius: 3rem;
  transition: 0.5s all ease-in-out;
}

.iletisimLink:hover{
  transform: scale(1.1);
}

@media (max-width: 900px){
  html{
    font-size: 8px;
  }

  header .ahsenLogo {
    background-image: url("/AhsenLogo.svg");
    width: 13rem;
    height: 13rem;
  }
  .bildil{
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}

@media (max-width: 700px){
  html{
    font-size: 10px;
  }
  header .ahsenLogo {
    background-image: url("/AhsenLogo.svg");
    width: 12rem;
    height: 12rem;
  }

  .inputGrup input{
    width: 70rem;
  }

  #hakkimdaContent{
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 600px){
  html{
    font-size: 8px;
  }
}

@media (max-width: 550px){
  html{
    font-size: 6px;
  }
}

@media (max-width: 500px){
  html{
    font-size: 5px;
  }

  #yazilar{
    width: 48rem;
  }

  #isler{
    max-width: 50rem;
  }

  #footer{
    gap: 8rem;
    margin: 0;
    padding: 0;
  }

  
}

@media (max-width: 470px){
  html{
    font-size: 4.6px;
  }
}

@media (max-width: 400px){
  html{
    font-size: 3.9px;
  }
}

@media (max-width: 370px){
  html{
    font-size: 3.7px;
  }
}




